body {
  background-color: rgb(37, 37, 53);
  text-align: center;
}

input {
  display: block;
}

h1 {
  color: white;
  font-family: monospace;
}

.inputs {
  padding: 10px;
  border: 1px solid rgb(232, 232, 240);
  border-radius: 1em;
  display: inline-block;
  margin: 1em 1em;
}

#square {
  width: 150px;
  height: 150px;
  background-color: aqua;
  display: inline-block;
}

#css-code {
  border-radius: 1em;
  padding: 0.6em;
}

#input1 {
  margin-bottom: 9em;
}

#input3 {
  margin-bottom: 9em;
}

#copy {
  margin-top: 2em;
  padding: 0.6em;
}